@use "./variables.scss" as *;

@font-face {
  font-family: "Vazirmatn";
  src: url("./static/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.recent-notes .recent-ul {
  display: flex;
  flex-direction: column;
}

.recent-notes .recent-li:has(a[href$="در-باب-ترس-و-شجاعت"]) {
  order: 1;
}

.recent-notes .recent-li:has(a[href$="برای-حفظ-عادت-نوشتن"]) {
  order: 2;
}

.recent-notes .recent-li:has(a[href$="توهم-دانش-با-افزایش-پیچیدگی---anti-hero"]) {
  order: 3;
}

.recent-notes .recent-li:has(a[href$="بدون-عنوان"]) {
  order: 4;
}

.recent-notes .recent-li:has(a[href$="معیاری-برای-اندازه-گیری-ارزش-زندگی"]) {
  order: 5;
}
